<!doctype html>
<html>
  <head><meta charset="utf-8"><title>SJSU Demo</title></head>
  <body style="font-family: system-ui; margin: 2rem;">
    <h1>Hello World from SJSU-{{ site_id }}</h1>
  </body>
</html>
